dist/
lib/
logs/
tmp/
test-result/

app-configuration/samples-and-tests/demo/.classpath
app-configuration/samples-and-tests/demo/.project
app-configuration/samples-and-tests/demo/.settings/
app-configuration/samples-and-tests/demo/eclipse/

